@model HardwarePC.Data.Model.Producto
@{
    ViewBag.Title = "Create";
}

<div class="post">
    <h2 class="title"><a href="#"> Nuevo producto</a></h2>
    <p class="byline">
        <h4>Producto</h4>
    </p>
    <div>
        @using (Html.BeginForm())
        {
        <div class="form">
            <hr />
            <span class="text-danger">@ViewBag.MessageDanger</span>
            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                <div>
                    @Html.EditorFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                <div>
                    @Html.EditorFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MarcaId)
                <div>
                    @Html.EditorFor(model => model.MarcaId)
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.Image)
                <div>
                    
                    @Html.EditorFor(model => model.Image)
                    <input type="file" id="img" name="img" accept="image/*">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Price)
                <div>
                    @Html.EditorFor(model => model.Price)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QuantitySold)
                <div>
                    @Html.EditorFor(model => model.QuantitySold)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AvgStars)
                <div>
                    @Html.EditorFor(model => model.AvgStars)
                </div>
            </div>
            <div class="form-group">
                <div>
                    <br />
                    <input type="submit" value="Guardar" class="btn-input" />
                </div>
            </div>
        </div>
        }
    </div>
    <div>
        <br />
        @Html.ActionLink("Volver a la lista", "Index")
    </div>

</div>