<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HardwarePC</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">

        <header id="header">
            <div id="logo">
                <h1><a href="/">HardwarePC</a></h1>
                <h2><span>Insumos informáticos</span></h2>
            </div>
        </header>

        <nav id="menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/Producto/">Productos</a></li>
                <li><a href="/home/about/">Acerca</a></li>
                <li><a href="/home/contact/">Contacto</a></li>
                <li><a href="/home/Covid_19/">COVID-19</a></li>
                <li><a href="/home/Ubicacion/">Ubicación</a>
            </ul>
        </nav>

        <!-- Contenido -->
        <section>

            <article>
                @RenderBody()
            </article>

            <!--
        <article id="sidebar">
            <ul>
                <li id="search">
                    <h2 class="search">Buscar productos</h2>
                    <form method="get" action="">
                        <fieldset>
                            <input type="text" id="search-text" name="s" value="" autocomplete="off" />
                            <input type="submit" id="search-submit" value="Buscar" />
                        </fieldset>
                    </form>
                </li>
                <li>
                    <h2 class="categories">Promociones</h2>
                    <ul>
                        <li><a href="#">Ahora 12</a></li>
                        <li><a href="#">Descuentos</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Categorías</h2>
                    <ul>
                        <li><a href="#">Notebooks</a></li>
                        <li><a href="#">Periféricos</a></li>
                        <li><a href="#">Almacenamiento</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Bebindum Mauris </h2>
                    <ul>
                        <li><a href="#">Nec metus sed donec</a></li>
                    </ul>
                </li>
            </ul>
        </article>

             <div style="clear: both; height: 1px"></div>

             -->

        </section>

        <!-- Contenido relacionado-->
        <aside>
            <article>
                <ul>
                    <li id="search">
                        <h2 class="search">Buscar productos</h2>
                        <form method="get" action="">
                            <fieldset>
                                <input type="text" id="search-text" name="s" value="" autocomplete="off" />
                                <input type="submit" id="search-submit" value="Buscar" />
                            </fieldset>
                        </form>
                    </li>
                </ul>
            </article>
        </aside>

        <!-- Pie de pagina -->
        <footer>
            <p>&copy; @DateTime.Now.Year - HardwarePC | <a href="#">Términos y Condiciones</a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
